.about-body {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    margin: 0 0 100px 0;
    text-align: left;
}
.about-body-mobile {
    margin: 15px auto;
    font-size: 1.5em;
    text-align: left;
}

.about-title {
    font-size: 24px;
    width: 100%;
}

.about-message {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    padding: 5px;
    margin: 0 0 5px 0;
}

.about-message-mobile {
    font-size: 14px;
    width: 100%;
    padding: 5px;
}